body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Yeon Sung', cursive;
    font-size: 150%;
}

h1 {
    color: #66BFBF;
    font-size: 400%;
    line-height: 2;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #40514e; 
    font-size: 150%;
    font-family: 'Texturina', serif;
    font-weight: 900;
    padding: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Yeon Sung', cursive;
}

p {
    line-height: 2;
}

hr {
    border: dotted #859696 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #11999E;
    font-family: 'Yeon Sung', cursive;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}


.top-container {
    background-color: #e8e8e8;
    height: 550px;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
}

.my_pic {
    position: relative;
    height: 80%;
    top: 10px;
    left: 400px;
}

.title {
    color: #40514e;
    font-weight: bold;
    bottom: 100%;
    position: relative;
    right: 5%;
}
.title1 {
    color: #40514e;
    bottom: 100%;
    font-weight: normal;
    position: relative;
    right: 5%;
}

.mid-container {
    background-color: #f6f5f5;
    padding: 100px 0;
}

.bottom-container {
    background-color: #495464;
    padding: 50px 0 20px;
}

.container {
    margin: 50px auto 100px auto;
}

/* .top-cloud {
    position: absolute;
    right: 200px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
} */

.intro {
    width: 30%;
    margin: auto;
}

.work-row {
    width: 51%;
    margin: 50px auto 100px auto;
    text-align: left;
}

.cmu-row {
    width: 51%;
    margin: 50px 400px 100px auto;
    text-align: left; 
}

.sfls-row {
    width: 50%;
    margin: 50px 400px 100px auto;
    text-align: left;
}

.cmu-img {
    width: 19%;
    float: left;
    margin-right: 40px;
}

.sfls-img {
    width: 13%;
    float: left;
    margin-right: 70px; 
}

.boa-img {
    width: 39%;
    float: left;
    margin-right: 30px;
}

.imc-img {
    width: 30%;
    float: left;
    margin-right: 30px;
}

.hobby-img {
    width: 100%;
}

.degree {
    line-height: 0.5;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Yeon Sung', cursive;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
